<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdminConnection" connectionString="Data Source=69.16.252.4,1433;Initial Catalog=ghorizon;Connection Timeout=600;user id=ghorizon;password=Sarman@7!!#;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>