@{
    ViewBag.Title = "Home Page";
}
<section class="banner-section align-items-center" style="margin-top:-9% !important">
    <div class="container">
        <div class="banner-top">
            <div class="banner-content">
                <img src="~/Content/assets/img/logo-icon.png" alt="">
                <h2>ENJOY THE GOLF EXPERIENCE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.</p>
                <div class="text-center m-auto banner-btns">
                    <a href ="@Url.Action("register","account")" class="btn banner-white-outline">JOIN OUR CLUB</a>
                    <button onclick="@Url.Action("index","booking")" class="btn banner-primary">SEE COURSES</button>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-overlay w-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="features-box">
                        <div class="features-img">
                            <img src="~/Content/assets/img/img-1.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="features-border">
                            <div class="features-text">
                                <a href="search.html"><h2>BEST GROUND</h2></a>
                                <p>GOLF COACHING</p>
                            </div>
                            <div class="features-arrow">
                                <a href="search.html"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="features-box">
                        <div class="features-img">
                            <img src="~/Content/assets/img/img-2.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="features-border">
                            <div class="features-text">
                                <a href="search.html"><h2>BEST TRAINER</h2></a>
                                <p>SPECIAL SERVICE</p>
                            </div>
                            <div class="features-arrow">
                                <a href="search.html"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="features-box">
                        <div class="features-img">
                            <img src="~/Content/assets/img/img-3.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="features-border">
                            <div class="features-text">
                                <a href="search.html"> <h2>BOOK EXPERT</h2></a>
                                <p>PRIVATE COACHING</p>
                            </div>
                            <div class="features-arrow">
                                <a href="search.html"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="features-box">
                        <div class="features-img">
                            <img src="~/Content/assets/img/img-4.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="features-border">
                            <div class="features-text">
                                <a href="search.html"><h2>GOLF TRAINING</h2></a>
                                <p>BECOME A MEMBER</p>
                            </div>
                            <div class="features-arrow">
                                <a href="search.html"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="coaching-section">
    <div class="vector-shapes">
        <span class="shape-1"><img src="~/Content/assets/img/vectors/vector-1.png" alt=""></span>
        <span class="shape-2"><img src="~/Content/assets/img/vectors/vector-7.png" alt=""></span>
        <span class="shape-3"><img src="~/Content/assets/img/vectors/vector-1.png" alt=""></span>
    </div>
    <div class="container">
        <div class="section-heading text-center">
            <img src="~/Content/assets/img/icons/heading.png" alt="" class="img-fluid">
            <h2>COACHING ON NEXT LEVEL </h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat </p>
        </div>
        <div class="coaching-info">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="coaching-text">
                        <img src="~/Content/assets/img/icons/2.png" alt="" class="img-fluid">
                        <h2>Improve your golf swing</h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet.</p>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry">Get Started <i class="fas fa-long-arrow-alt-right ms-2"></i></button>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="golf-img">
                        <img src="~/Content/assets/img/golf-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="coaching-info">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="golf-img-1">
                        <img src="~/Content/assets/img/golf-2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="coaching-text">
                        <img src="~/Content/assets/img/icons/2.png" alt="" class="img-fluid">
                        <h2>Improve your golf swing</h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet.</p>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry">Get Started <i class="fas fa-long-arrow-alt-right ms-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="feature-card">
                    <div class="feature-head d-flex">
                        <img src="~/Content/assets/img/icons/f1.png" alt="" class="img-fluid">
                        <p class="ms-auto">01</p>
                    </div>
                    <div class="feature-body d-flex align-items-center">
                        <a href="javascript:void(0);"><h2>Regular <br> Competitions</h2></a>
                        <a href="javascript:void(0);" class=" ms-auto"><i class="fas fa-arrow-right ms-auto"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="feature-card">
                    <div class="feature-head d-flex">
                        <img src="~/Content/assets/img/icons/f2.png" alt="" class="img-fluid">
                        <p class="ms-auto">02</p>
                    </div>
                    <div class="feature-body d-flex align-items-center">
                        <a href="javascript:void(0);"><h2>High Quality <br> Equipment</h2></a>
                        <a href="javascript:void(0);" class=" ms-auto"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="feature-card">
                    <div class="feature-head d-flex">
                        <img src="~/Content/assets/img/icons/f3.png" alt="" class="img-fluid">
                        <p class="ms-auto">03</p>
                    </div>
                    <div class="feature-body d-flex align-items-center">
                        <a href="javascript:void(0);"><h2>Qualified <br> Instructor</h2></a>
                        <a href="javascript:void(0);" class=" ms-auto"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="feature-card">
                    <div class="feature-head d-flex">
                        <img src="~/Content/assets/img/icons/f4.png" alt="" class="img-fluid">
                        <p class="ms-auto">04</p>
                    </div>
                    <div class="feature-body d-flex align-items-center">
                        <a href="javascript:void(0);"><h2>18 Hole <br> Competitions</h2></a>
                        <a href="javascript:void(0);" class=" ms-auto"><i class="fas fa-arrow-right ms-auto"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="coaches-section">
    <div class="vector-shapes">
        <span class="shape-4"><img src="~/Content/assets/img/vectors/vector-2.png" alt=""></span>
    </div>
    <div class="container">
        <div class="section-heading text-center">
            <img src="~/Content/assets/img/icons/heading.png" alt="" class="img-fluid">
            <h2>Our Top Coaches </h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat </p>
        </div>
        <div class="row">
            <div class="col-12 text-end mb-2">
                <a href="map-list.html" class="text-primary text-view">View all</a>
            </div>
            <div class="coach-row">
                <div class="coach-card">
                    <div class="coach-head mb-3">
                        <a href="search.html"><img src="~/Content/assets/img/coaches/c1.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="coach-body d-block align-items-center">
                        <span>- Coach </span>
                        <a href="search.html"><h2 class="mb-3 mt-2"> Dora McCarthy</h2></a>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry-outline">BOOK NOW</button>
                    </div>
                </div>
            </div>
            <div class="coach-row">
                <div class="coach-card">
                    <div class="coach-head mb-3">
                        <a href="search.html"><img src="~/Content/assets/img/coaches/c5.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="coach-body d-block align-items-center">
                        <span>- Head Coach </span>
                        <a href="search.html"><h2 class="mb-3 mt-2"> Amanda Meery</h2></a>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry-outline">BOOK NOW</button>
                    </div>
                </div>
            </div>
            <div class="coach-row">
                <div class="coach-card">
                    <div class="coach-head mb-3">
                        <a href="search.html"><img src="~/Content/assets/img/coaches/c3.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="coach-body d-block align-items-center">
                        <span>- Coach </span>
                        <a href="search.html"><h2 class="mb-3 mt-2"> Dan Western</h2></a>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry-outline">BOOK NOW</button>
                    </div>
                </div>
            </div>
            <div class="coach-row">
                <div class="coach-card">
                    <div class="coach-head mb-3">
                        <a href="search.html"><img src="~/Content/assets/img/coaches/c4.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="coach-body d-block align-items-center">
                        <span>- Head Coach </span>
                        <a href="search.html"><h2 class="mb-3 mt-2">Kevin Tylon</h2></a>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry-outline">BOOK NOW</button>
                    </div>
                </div>
            </div>
            <div class="coach-row">
                <div class="coach-card">
                    <div class="coach-head mb-3">
                        <a href="search.html"><img src="~/Content/assets/img/coaches/c2.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="coach-body d-block align-items-center">
                        <span>- Head Coach </span>
                        <a href="search.html"><h2 class="mb-3 mt-2"> Amanda Meery</h2></a>
                        <button onclick="document.location='booking.html'" class="btn btn-seconadry-outline">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="golf-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ms-auto">
                <div class="golf-bg">
                    <img src="~/Content/assets/img/icons/heading.png" alt="" class="img-fluid mb-3">
                    <h2 class="mb-0">Join To Earn Free Rounds Of Golf And Golf Fees.</h2>
                    <p class="my-4">Also, receive special offers and access to exclusive events.</p>
                    <button onclick="document.location='map-grid.html'" class="btn banner-primary">View All Coaches <i class="fas fa-long-arrow-alt-right ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="review-section">
    <div class="vector-shapes">
        <span class="shape-6"><img src="~/Content/assets/img/vectors/vector-5.png" alt=""></span>
        <span class="shape-7"><img src="~/Content/assets/img/vectors/vector-6.png" alt=""></span>
    </div>
    <div class="container">
        <div class="section-heading text-center">
            <img src="~/Content/assets/img/icons/heading.png" alt="" class="img-fluid">
            <h2>Reviews</h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat </p>
        </div>
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="testimonial-slider">
                    <div id="customers-testimonials" class="owl-carousel text-center">
                        <div class="item review-card">
                            <img src="~/Content/assets/img/clients/client2.jpg" class="clients m-auto" alt="">
                            <h6 class="name mt-4 mb-0">William Zoe</h6>
                            <span>uk</span>
                            <ul class="mb-4 review-rating">
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.</p>
                        </div>
                        <div class="item review-card">
                            <img src="~/Content/assets/img/clients/client2.jpg" class="clients m-auto" alt="">
                            <h6 class="name mt-3 mb-0">William Zoe</h6>
                            <span>uk</span>
                            <ul class="mb-4 review-rating">
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star not-checked"></i>
                                </li>
                            </ul>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate aliquam in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vector-shapes">
        <span class="shape-5"><img src="~/Content/assets/img/vectors/vector-3.png" alt=""></span>
        <span class="shape-8"><img src="~/Content/assets/img/vectors/vector-4.png" alt=""></span>
    </div>
</section>


<section class="blog-section">
    <div class="container">
        <div class="section-heading text-center">
            <img src="~/Content/assets/img/icons/heading.png" alt="" class="img-fluid">
            <h2>Our Latest Blogs</h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="our-blogs">
                    <div class="blog-img">
                        <img src="~/Content/assets/img/blog/1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blogs-date">
                        <p>Posted on 16 JAN 2021</p>
                    </div>
                    <div class="blog-text mt-3">
                        <h5><a href="blog-details.html">How Increase The Power of Your Golf Swing</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate </p>
                        <a href="blog-details.html">Read more <i class='fas fa-arrow-right ms-1'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="our-blogs">
                    <div class="blog-img">
                        <img src="~/Content/assets/img/blog/2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blogs-date">
                        <p>Posted on 16 JAN 2021</p>
                    </div>
                    <div class="blog-text mt-3">
                        <h5><a href="blog-details.html">How Increase The Power of Your Golf Swing</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate </p>
                        <a href="blog-details.html">Read more <i class='fas fa-arrow-right ms-1'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="our-blogs">
                    <div class="blog-img">
                        <img src="~/Content/assets/img/blog/3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blogs-date">
                        <p>Posted on 16 JAN 2021</p>
                    </div>
                    <div class="blog-text mt-3">
                        <h5> <a href="blog-details.html"> How Increase The Power of Your Golf Swing</a> </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor, nunc vulputate </p>
                        <a href="blog-details.html">Read more <i class='fas fa-arrow-right ms-1'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
